<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}
    </h1>
</div>
<h2> </h2>
<tweets-component style=" display: flex; align-items: center; justify-content: center;"></tweets-component>