<mat-list style="padding-top:1px;background-color: white;width: 51%;border: hotpink;">
    <div *ngFor="let tweet of tweetsData">
        <mat-card>
            <title style="display: table-cell;white-space: nowrap;font-size: x-large;">
                {{tweet["text"]}}
            </title>
            <p>
                <small>{{tweet[ "created_at"]}}</small>
            </p>
        </mat-card>

        <mat-divider></mat-divider>
    </div>
</mat-list>